#meal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}
.meal {
  width: 250px;
  background-color: lightcyan;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
#meal-full-detail {
  width: 400px;
  background-color: rgba(144, 238, 144, 0.25);
  border-radius: 10px;
  margin: 0 auto;
}
.meal img,
#meal-full-detail img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.meal p {
  padding: 10px 0;
  font-weight: 600;
}
.info {
  padding-left: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
}
